::-webkit-scrollbar {
    width:0px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(255,0,0,0.4);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei UI','Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
div, i {
    -webkit-tap-highlight-color: transparent;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: rgba(236, 236, 236, 1);
    -webkit-tap-highlight-color: transparent;
}
body {
    position: relative;
    background-color: rgba(236, 236, 236, 1);
    -webkit-tap-highlight-color: transparent;
}
ul,ol {
    list-style: none
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 500
}
button {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.main {
    display: flex;
    position: relative;
}
.aside {
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-x: auto;
}
.context .small_box {
    overflow: paged-x;
}
.section {
    margin-left: 224px;
    width: 974px;
}
.aside,.title,.navigation,.public_box{
    background: #fff;
    border-radius: 23px;
}
.aside .header .logo {
    margin: 15px 0 28px;
    height: 31px;
}
.aside .header .logo a {
    height: 100%;
    display: block;
    text-align: center;
}
.aside .header .logo a img {
    /* height: 100%; */
    cursor: pointer;
}
.aside .header .search_box {
    width: 145px;
    height: 30px;
    border-radius: 11px;
    background: rgba(242, 242, 242, 1);
    margin-left: 15px;
    margin-bottom: 13px;
    position: relative;
}
.aside .header .search_box input {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    height: 30px;
    border-radius: 11px;
    padding: 6px 12px;
    width: 100%;
    outline: none;
}
.aside .header .search_box button {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor:pointer
}
.nav ul li a ,.small_box ul li a {
    display: block;
    width: 100%;
    height: 46px;
    padding: 13px 15px;
}

.nav ul li a:hover ,.small_box ul li a:hover {
    background: rgba(209, 245, 255, 1);
}
.nav ul li a i ,.small_box ul li a i {
    font-size: 18px;
    color: #333333;
}
.nav ul li a span ,.small_box ul li a span {
    font-size: 14px;
    color: #333;
}
.small_box {
    margin-top: 20px;
}
.small_box hr {
    width: 170px;
    height: 0;
    border-top: 1px solid #dbdbdb;
    margin: 0 auto 20px;
}
.small_box h3 {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.footer {
    /*position: absolute;*/
    bottom: 0px;
    width: 200px;
}
.footer .small_box ul li a {
    padding-left: 34px;
}
.section .s_box {
    margin-bottom: 15px;
}
.section .title {
    font-size: 16px;
    font-weight: 700;
    padding-left: 23px;
    color: #333333;
    height: 60px;
    line-height: 60px;
    margin-bottom: 15px;
}
.section .grey {
    color: #838383;
}
.box_one,.box_two {
    display: flex;
    flex-wrap: wrap;
}
.box_one a {
    width: 144px;
    height: 167px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 15px 22px 0 0;
    position: relative;
    background: #ffffff;
}
.gri a {
    width: 123px;
    height: 143px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    background: #ffffff;
}
.gri .ad {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.sousuo_box {
    padding: 20px;
}
.sousuo_box a {
    margin-right: 14px;
}
.box_one a:nth-child(6n) {
    margin-right: 0;
}
.box_one a:nth-child(-n + 6) {
    margin-top: 0;
}
.box_one a .img ,.gri a .img {
    width: 144px;
    height: 144px;
    overflow: hidden;
    border-radius: 6px;
}
.gri a .img {
    width: 123px;
    height: 123px;
    overflow: hidden;
    border-radius: 6px;
}
.box_one a .img img , .gri a .img img {
    width: 100%;
    height: 100%;
    transition: all .3s;
}
.box_one a:hover .img img ,.gri a:hover .img img {
    transform: scale(1.2);
}

.box_one a .content_info, .gri a .content_info {
    width: 144px;
    height: 23px;
    padding: 1.5px 20px;
    background: #fff;
}
.gri a .content_info {
    width: 123px;
    height: 20px;
    padding: 1.5px 20px;
    background: #fff;
}
.box_one a .content_info p ,.gri a .content_info p {
    font-size: 14px;
    color: #7b7b7b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.box_two a {
    display: flex;
    width: 227px;
    height: 90px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 6px;
    margin: 15px 20px 0 0;
    border-radius: 6px;
}
.box_two a:nth-child(4n) {
    margin-right: 0;
}
.box_two a:nth-child(-n + 4) {
    margin-top: 0;
}
.box_two a .img {
    width: 78px;
    height: 78px;
    overflow: hidden;
    border-radius: 6px;
    margin-right: 15px;
}
.box_two a .img img {
    width: 100%;
    height: 100%;
    transition: all .3s;
}
.box_two a:hover .img img {
    transform: scale(1.2);
}

.box_two a .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 122px;
}
.box_two a .text h3 {
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box_two a .text p {
    position: relative;
    height: 15px;
}
.box_two a .text p span {
    color: #7b7b7b;
    font-size: 12px;
}
.box_two a .text p span i {
    color: #7b7b7b;
    font-size: 13px;
    margin-right: 5px;
}
.box_two a .text p span:nth-last-child(1) i {
    margin-right: 0;
}
.box_two a .text p span:nth-child(1) {
    position: absolute;
    left: 0;
}
.box_two a .text p span:nth-child(2) {
    position: absolute;
    left: 70px;
}
.navigation {
    margin-bottom: 15px;
    height: 60px;
    padding: 21px 15px;
}
.navigation span ,.navigation a , .navigation {
    color: #838383;
    font-size: 14px;
}
.public_box {
    margin-bottom: 15px;
}
.game_box {
    padding: 15px 20px;
    display: flex;
    position: relative;
}
.game_box .game {
    width: 583px;
    margin-right: 15px;
}
.game_box .ad_box {
    position: absolute;
    right: 20px;
    bottom: 15px;
}
.game_box .game .mm_t {
    display: flex;
    height: 111px;
    margin-bottom: 15px;
}
.game_box .game .mm_t .img {
    width: 111px;
    height: 111px;
    margin-right: 30px;
    border-radius: 6px;
    overflow: hidden;
}
.game_box .game .mm_t .img img {
    width: 100%;
    height: 100%;
}
.game_box .game .mm_t .ml_t h3 {
    width: 350px;
    font-size: 24px;
    color: #333333;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 31px;
    margin: 10px 0 20px;
}
.game_box .game .mm_t .ml_t {
    width: 330px;
    height: 60px;

}
.game_box .game .mm_t .ml_t .g_a_link {
    padding: 12px;
    display: flex;
}
.game_box .game .mm_t .ml_t .g_a_link .buttons {
    display: flex;
    margin-right: 20px;
}
.game_box .game .mm_t .ml_t .g_a_link .buttons div {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_box .game .mm_t .ml_t .g_a_link .buttons div:nth-child(2) {
    margin-left: 5px;
}

.game_box .game .mm_t .ml_t .g_a_link .buttons div i {
    font-size: 18px;
    color: #333333;
}
.game_box .game .mm_t .ml_t .g_a_link .rating-bar {
    width: 174px;
    height: 36px;
    padding-top: 5px;
}
.game_box .game .mm_t .ml_t .g_a_link .rating-bar .rating-name_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
.game_box .game .mm_t .ml_t .g_a_link .rating-bar .rating-name_box p {
    font-size: 12px;
    color: #838383;
}
.game_box .game .mm_t .ml_t .g_a_link .rating-bar .article {
    width: 174px;
    height: 7px;
    border-radius: 7px;
    background: #f4f4f4;
    position: relative;
}
.game_box .game .mm_t .ml_t .g_a_link .rating-bar .article .c {
    background: rgba(141, 234, 71, 1);
    height: 7px;
    border-radius: 7px;
}
.game_box .game .game_details {
    position: relative;
}
.game_box .game .game_details .buttons {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    position: absolute;

    z-index: 2;
}
.game_box .game .game_details .buttons span {
    display: block;
    height: 40px;
    width: 100px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(111 ,111 ,111 ,.2);
    text-align: center;
    color: #d9d9d9;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}
.game_box .game .game_details .buttons .active {
    font-weight: 700;
    color: #838383;
}

.game_box .game .game_details .details_box {
    background: rgba(255, 255, 255, 1);
    border-radius: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    position: relative;
}
.game_box .game .game_details .details_box ul {
    display: none;
}
.game_box .game .game_details .details_box .active {
    display: block;
}

.game_box .game .game_details .details_box ul li {
    display: flex;
    width: 523px;
    height: 23px;
    margin-bottom: 20px;
    padding-left: 153px;
}
.game_box .game .game_details .details_box ul li h3 {
    width: 120px;
    height: 23px;
    font-size: 16px;
    color: #838383;
    font-weight: 700;
    line-height: 23px;
}
.game_box .game .game_details .details_box ul li p {
    width: 250px;
    padding-left: 100px;
    font-size: 16px;
    color: #838383;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 23px;
    line-height: 23px;
}
.box_three {
    padding: 15px;
}
.box_three h3 {
    font-size: 16px;
    font-weight: 700;
    color: #9F9F9F;
}
.seeding_box {
    padding: 20px;
}
.seeding_box .seeding {
    width: 934px;
    height: 211px;
}
.seeding_box .seeding img {
    height: 211px;
}
.seeding .swiper-wrapper .swiper-slide {
    width: auto;
    height: 211px;
}
.get_app_box {
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get_app_box a {
    width: 250px;
    height: 53px;
    border-radius: 6px;
    background: #f4f4f4;
    margin-right: 20px;
    text-align: center;
    color: #909090;
    padding: 9px 0;
}
.get_app_box a h4 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
}
.get_app_box a h4 i {
    font-size: 22px;
    font-weight: 100;
}
.get_app_box a p {
    font-size: 12px;
    text-align: center;
}
.get_app_box a:nth-last-child(1) {
    margin-right: 0;
}
.box_three .dec {
    margin-top: 25px;
}
.box_three .dec p {
    color: #9F9F9F;
    font-size: 14px;
    line-height: 25px;
}
.gri {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(7,123px);
    padding: 20px;
    border-radius: 18px;
    background: #ffffff;
}
.ad {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ad p {
    font-size: 12px;
    font-weight: 700;
    color: #777;
}
header {
    height: 60px;
    background-color: #fff;
}
header .container {
    display: flex;
    align-items: center;
    height: 60px;
}
header .container .logo_img {
    height: 60px;
    display: flex;
    align-items: center;
    position: absolute;
}
header .container .logo_img img {
    height: 50px;
}
header .container nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
header .container nav {
    font-size: 18px;
}
header .container nav a {
    color: #333;
    display: block;
    margin-right: 60px;
}
header .container nav a:nth-last-child(1) {
    margin-right: 0;
}
header .container nav a i {
    font-size: 22px;
}
.promotion_box {
    padding: 15px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
}
.promotion {
    display: grid;
    grid-template-columns: repeat(8,134px);
    gap: 14px;
}
.promotion a {
    width: 134px;
    height: 134px;
    overflow: hidden;
    position: relative;
}
.promotion a .thum {
    position: relative;
    width: 134px;
    padding-bottom: 134px;
    overflow: hidden;
    height: 0;
}
.promotion a .thum img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-position: center;
    object-fit: cover;
    transition: all .3s;
    
}
.promotion a:hover .thum img {
    transform: scale(1.2);
}
.promotion a p {
    position: absolute;
    background-color: #ccc;
    color: #fff;
    height: 25%;
    width: 100%;
    bottom: -25%;
    transition: all .3s;
    line-height: 33px;
    padding: 0 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.promotion a:hover p {
    bottom: 0px;
}
.promotion a:nth-child(10) ,
.promotion a:nth-child(11) ,
.promotion a:nth-child(12) ,
.promotion a:nth-child(17) ,
.promotion a:nth-child(20) ,
.promotion a:nth-child(29) ,
.promotion a:nth-child(27) ,
.promotion a:nth-child(28) {
    width: 282px;
    height: 282px;
}
.promotion a:nth-child(10) .thum ,
.promotion a:nth-child(11) .thum ,
.promotion a:nth-child(12) .thum ,
.promotion a:nth-child(17) .thum ,
.promotion a:nth-child(20) .thum ,
.promotion a:nth-child(29) .thum ,
.promotion a:nth-child(27) .thum ,
.promotion a:nth-child(28) .thum {
    width: 282px;
    padding-bottom: 282px;
}
.promotion a:nth-child(10) p ,
.promotion a:nth-child(11) p ,
.promotion a:nth-child(12) p ,
.promotion a:nth-child(17) p ,
.promotion a:nth-child(20) p ,
.promotion a:nth-child(29) p ,
.promotion a:nth-child(27) p ,
.promotion a:nth-child(28) p {
    width: 282px;
    line-height: 70px;
    font-size: 30px;
}
.promotion a:nth-child(10) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.promotion a:nth-child(11) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}
.promotion a:nth-child(12) {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
}
.promotion a:nth-child(17) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}
.promotion a:nth-child(20) {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
}
.promotion a:nth-child(27) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
}
.promotion a:nth-child(28) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 8;
}
.promotion a:nth-child(29) {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8;
}
footer {
    background-color: #fff;
}
footer .container {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
footer .container a {
    height: 23px;
    color: #333;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-right: 2px solid #ccc;
    font-size: 14px;
}
footer .container a:nth-last-child(1) {
    border-right: none;
}
footer .container a:hover {
    color: #999;
}


